.main {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 60px;
    height: min-content;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

@media only screen and (max-width: 1120px) {
    .main {
        flex-direction: column;
        margin-top: 40px;
    }
}
